header.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

header.main > :first-child {
  flex: 8;
  text-align: center;
  margin-top: 10px;
}

header.main > :last-child {
  flex: 1;
}

header.main > :last-child > img {
  width: 40px;
}
