.app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}
.alert.error {
  color: red;
  text-align: center;
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.table-container {
  max-height: 80vh;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.room-table {
  width: 80%;
  border-radius: 6px;
}
.room-table td,
.room-table th {
  padding: 10px;
  border-radius: 6px;
}
.room-table td:first-child,
.room-table th:first-child {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}
.room-table td:last-child,
.room-table th:last-child {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}
.room-table td:empty {
  height: 100%;
}
.room-table td:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
}

.room-table thead th {
  color: blanchedalmond;
  font-size: large;
}

.room-table thead th,
.room-table tr td {
  border-top: 1px solid #4d4c4a;
  border-bottom: 1px solid #4d4c4a;
  background-color: #4d4c4a;
}
.tag {
  padding: 4px 10px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white;
  color: black;
  margin-right: 8px;
  letter-spacing: 0.1rem;
}
.tag:focus,
.tag:hover {
  border-color: unset;
  background-color: grey;
  color: white;
  box-shadow: blanchedalmond 0px 0px 7px 3px;
}

.tag:only-child {
  margin-right: unset;
}
